body{
    margin: 0;
    box-sizing: border-box;
    height: 200vh;
    font-family: cursive;
    background-color: palevioletred;
}

.left-sidebar{
    float:left;
    height: 100%;
    background-color: whitesmoke;
    position: fixed;
    border-right: 2px solid black;
    width: 20vw;
}
.left-sidebar ul{
    list-style-type: none;
    padding: 1em;
    padding-right: 0 ;
}
.left-sidebar ul li{
    padding: .5em;
    cursor: pointer;
    border-bottom: 2px solid black;
}
a{
    text-decoration: none;
    color: black;
}


.main-content{
    margin-left: 20vw;
    padding: 1.5em;
}
.main-content > h1{
    margin: 0;
}
section{
    border-bottom: 1px solid black;
}
section p{
    line-height: 1.25em;
    word-spacing: .25em;
}

.js{
    background-color: chocolate;
    padding: .25em;
    margin: 0;
    border-radius: 50%;
}